body{
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/wood_1.jpg');
  background-repeat: repeat;
  font-family: 'Enriqueta', serif;
}

.romanNumeralConverter{
  padding: 30px;
  width: 100%;
	max-width: 40em;
  background: rgba(238, 238, 238, .8);
  margin: 10em auto;
  height: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
}

h4{
  margin-bottom: 40px;
}

input{
  width: 50px;
}

button, input{
  margin: 20px;
}

button{
  margin-top: 40px;
}
